body {
    background-color: rgb(255, 255, 165);
}

.image{
   border: 4px solid #462d75;
   border-radius: 15px;
   height: 300px;
   box-shadow: 10px 10px 15px #454a5f;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
